body{
    direction:rtl;
    background:#f8ccf1;
    margin:5%;
    font-size: 150%;
    font-family: Arial, "Times New Roman", serif;
    }

    
    header{
        background: #611b5c;
        text-align: center;
        padding-bottom: 15px;
    }
    
    h1{
        color: #ffffff;
    }
    
    nav{
        font-variant: small-caps;	
        font-size: 150%;
    }
    
    h2{
        color: #611b5c;
        background: #ffffff;
    }
    
    section{
        display:inline-block;
        width:22%;
        margin-right: 2%;
        float: right;
    }
    
    summary{
        font-style: normal;
    }
    
    details{
        font-style: italic;
    }
    
    footer{
        background: #ffffff;
        height:100px;
        clear: both;
    }
    
    img{
        width: 100px;
    }
    div {
    background-color:lightpink;
    width: 160px;
    border: 15px solid purple;
    padding: 15px;
    margin: 15px;
}

    a {
    
        color: #000000;
    }
    a:hover {
        color: #ff0000;
     }
    
    progress {
        background: #ff0000;
    }
    
    progress::-webkit-progress-bar {
        background-color: #BBBBBB;	
    }
    
    progress::-webkit-progress-value {
        background-color: f8ccf16 !important;
    } 
    progress::-moz-progress-bar {
        background-color: f8ccf1 !important;
    }