body{
	direction:rtl;
	background:#dc96be;
	margin:5%;
	font-size: 150%;
	font-family: Arial, "Times New Roman", serif;	
}

header{
	background: #BBBBBB;
	text-align: center;
	padding-bottom: 15px;
}

h1{
	color: #555555;
}

nav{
	font-variant: small-caps;	
	font-size: 150%;
}

h2{
	color: #666666;
	background: #BBBBBB;
}

section{
	width:30%;
	margin-right: 2%;
	display:inline-block;
	float:right;
}

summary{
	font-style:normal;
}

details{
	font-style: italic;
}

footer{
	background: #BBBBBB;
	height:100px;
	clear: both;
}

img{
	width: 100px;
}

a {
	text-decoration: none;
	background-color: #BBBBBB;
	color: #666666;
}

progress {
	background: #ff0000;
}

progress::-webkit-progress-bar {
	background-color: #BBBBBB;	
}

progress::-webkit-progress-value {
	background-color: #666666 !important;
} 
progress::-moz-progress-bar {
	background-color: #666666 !important;
}