body{
    direction:rtl;
    background:#f8ccf1;
    margin:5%;
    font-size: 150%;
    font-family: Arial, "Times New Roman", serif;
    }
    
    header{
        background: #ff87e7;
        text-align: center;
        padding-bottom: 15px;
    }
    
    h1{
        color: #f7bfbf;
    }
    
    nav{
        font-variant: small-caps;	
        font-size: 150%;
    }
    
    h2{
        color: #611b5c;
        background: #BBBBBB;
    }
    
    section{
        display:inline-block;
        width:30%;
        margin-right: 2%;
        float: right;
    }
    
    summary{
        font-style: normal;
    }
    
    details{
        font-style: italic;
    }
    
    footer{
        background: #BBBBBB;
        height:100px;
        clear: both;
    }
    
    img{
        width: 100px;
    }
    
    a {
        background-color: #BBBBBB;
        color: #666666;
    }
    
    progress {
        background: #ff0000;
    }
    
    progress::-webkit-progress-bar {
        background-color: #BBBBBB;	
    }
    
    progress::-webkit-progress-value {
        background-color: #666666 !important;
    } 
    progress::-moz-progress-bar {
        background-color: #666666 !important;
    }