body {
    direction: rtl;
    background-image: url(/images/sponge.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 15%;
    font-family: 'Rubik', sans-serif;
    
    .answers {
        cursor: pointer;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      .answer:hover {
        background-color: #f0f0f0;
      }
      
      .selected {
        background-color: #aaffaa !important;
      }
}