body {
    direction: rtl;
    background-image: url(/images/sponge.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 15%;
    font-family: 'Rubik', sans-serif;
   
      
      .answer:hover {
        display: inline-block;
      }
      
      .selected {
        background-color: #ebf92a;
        display: inline-block;
      }
}