.marked {
	font-weight: bold;
	background-color: #9500ff;
	cursor:pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.qtext {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 50px;
}

.answers {
	font-weight:normal;
	background-color: white;
	cursor:pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}

* {
	direction:ltr;
	text-align:center;
	font-family: Arial;
	
}

img {
	max-height: 300px;
}

#prev, #next {
	display: inline;
	margin: 100px;
	font-weight: bold;
	cursor:pointer;
}

#results {
	font-size: 100px;
}